<section class="form-container">
<form [formGroup]="checkoutForm" (ngSubmit)="submit(checkoutForm.value)">
  <div class="row">
    <div class="col-12">
        <label class="font-paragraph-gray">Prueba</label>
        <div>
          <input [ngClass]="{'error-input': checkoutForm.get('name').invalid }" type="text" class="form-control general-input-format" formControlName="name">
        </div>
        <!-- <span *ngIf="checkoutForm.get('name').touched && !checkoutForm.get('name').value || checkoutForm.get('name').invalid" class="error-message-forms">Error</span>   -->
    </div>

  </div>

    <div class="row d-flex">
      <div class="col-6">
        <label class="font-paragraph-gray">Prueba</label>
        <div>
          <input [ngClass]="{'error-input': checkoutForm.get('name').touched && checkoutForm.get('name').invalid }" type="text" class="form-control general-input-format" formControlName="name">
        </div>
        <span *ngIf="checkoutForm.get('name').touched && checkoutForm.get('name').invalid" class="error-message-forms">Error</span>  
      </div>

      <div class="col-6">
        <label class="font-paragraph-gray">Prueba</label>
        <div>
          <input [ngClass]="{'error-input': checkoutForm.get('name').touched && checkoutForm.get('name').invalid }" type="text" class="form-control general-input-format" formControlName="name">
        </div>
        <!-- <span *ngIf="checkoutForm.get('name').touched && !checkoutForm.get('name').value || checkoutForm.get('name').invalid" class="error-message-forms">Error</span>   -->
      </div>

    </div>
      <div class="row">
      <div class="col-12">
        <label class="font-paragraph-gray">Prueba</label>
        <div>
          <input [ngClass]="{'error-input': checkoutForm.get('name').invalid }" type="text" class="form-control general-input-format" formControlName="name">
        </div>
        <!-- <span *ngIf="checkoutForm.get('name').touched && !checkoutForm.get('name').value || checkoutForm.get('name').invalid" class="error-message-forms">Error</span>   -->
      </div>
    </div>  

    <div>
      <button  type="submit">Submit</button>
    </div>

</form>
</section>